<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    

    <script>
        // Disable right-click
        document.addEventListener('contextmenu', function(e) {
            e.preventDefault();
        });

        // Disable F12 and other function keys
        document.onkeydown = function(e) {
            if (e.keyCode === 123) {  // F12 key
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode === 73) {  // Ctrl+Shift+I
                return false;
            }
        };
    </script>
</head>
<body>
    <div id="chat-container">
        <h2 class="text-center mb-4">Chatbot</h2>
        <div id="chat-history">
        </div>
        <form id="chat-form">
            <div class="input-group">
                <input type="text" name="user_input" id="user_input" class="form-control" placeholder="Type your message..." required>
                <input type="hidden" name="conversation_history" id="conversation_history">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
    <footer class="text-center mt-4">
        <p>This project is created by Shreejeet Purwar. More projects can be seen at <a href="https://shreejeet.info" target="_blank">shreejeet.info</a>.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
